body {
  background-color: black;
  color: white;
}

main {
  min-height: 100vh;
  background-color: antiquewhite;
}

#main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
}
.main-header--container {
  width: min(100%, 1200px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.main-header--container > ul {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 20px;
}
.main-header--container > ul > li:hover {
  color: var(--green);
}
